body {
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 500px 1fr;
}

.left {
  /* background-color: pink; */
  height: 88vh;
  padding: 25px 35px 25px 35px;
}

.right {
  /* background-color: lightcoral; */
  text-align: center;
}

/* div Bgs */

.store-bg {
  height: 520px;
  width: 90%;
  /* background-color: red; */
  background-color: #2A6025;
  border-radius: 20px;
  padding: 1% 5% 3% 5%;
  margin-top: 3%;

}

.info-bg {
  height: 70px;
  width: 90.75%;
  background-color: #2A6025;
  border-radius: 20px;
  color: white;
  text-align: center;
  padding-top: 8px;
  margin-left: 50px;
}

/* Shop */
.shop-heading {
  color: white;
  text-align: center;
  margin-bottom: 5%;
}

.shop-listings {
  height: 400px;
  width: 100%;
  overflow-y: scroll;
  /* overflow: scroll; */
}

.listing {
  width: 100%;
}

.listing:hover {
  opacity: 80%;
  cursor: pointer;
}

.shop-title {
  margin-bottom: 1%;
  /* display:inline-block;
  width: 50px; */
  /* float: left; */
  /* margin-left: 160px; */
}

.coin {
  height: 1.3vw;
}

.coin-count {
    margin-top: 2%;
  font-size: 1.5vw;
  /* padding-bottom: 20%; */
  /* display: inline-block;
  width: 80px;
  float: right; */
  /* line-height: 105px; */
}

.display-plant {
  height: 80px;
  width: auto;
}

.purchase-announcement {
  text-align: center;
  width: 100%;
  color:white;

}

.announcement-text {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  height: 2vh;
}

/* Buttons */

.roadmap-button {
  height: 35px;
  width: auto;
}

.roadmap-button:hover {
  opacity: 80%;
  cursor: pointer;
}

/* Island overlay */
.island-container {
  background-image: url("../assets/island.png");
  background-size: 100%;
  /* background-color: red; */
  height: 445px;
  width: auto;
  margin: 60px 90px 20px 90px;
}


.island {
  position: relative;
  height: 500px;
}

.island-overlay {
  /* position: absolute;
  top: 0;
  left: 0; */
}

/* GRID */
.grid-container{
  display: grid;
  grid-template-columns: repeat(12, 60px);
  grid-auto-rows: 60px;
  /* background-color: yellow;
  opacity: 50%;
  border: solid black 3px; */
}

.grid-box {
  /* border: solid black 2px; */
}

.grid-icon {
  height: 100%;
}

.valid {
  /* background-color: green; */
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

.valid:hover {
  background-color: rgb(0, 208, 0);
  opacity: 0.5;
}
